/* MIN-WIDTH 550px */
@media screen and (min-width: 600px) {
    /* PORTADA */
    .portada p:first-child {
        font-size: 3em;
    }
    .portada p:nth-child(2) {
        font-size: 2em;
    }
    .portada p:nth-child(3) {
        font-size: 1.5em;
    }
    .redes_portada i {
        font-size: 35px;
        margin: 0 10px;
    }
    /* PERFIL */
    .perfil {
        flex-direction: row;
        align-items: center;
        min-height: 75vh;
        max-width: 800px;
    }
    .foto_perfil img {
        margin: 0 30px;
    }
    .acerca_de {
        width: 90%;
        padding: 0 20px;
    }
    .acerca_de h1 {
        text-align: start;
        margin: 0;
        padding: 0;
    }
    .acerca_de p {
        padding: 10px 0 0;
        width: 100%;
        max-width: 500px;
    }
    /* PROYECTOS */
    .proyectos {
        align-items: flex-start;
        min-height: auto;
        padding: 30px 20px;
    }
    .proyectos h1 {
        text-align: start;
    }
    .carta_proyecto {
        max-width: 800px;
        width: 100%;
        height: 200px;
        padding: 0;
        flex-direction: row;
    }
    .img_proyecto {
        display: flex;
        align-items: center;
    }
    .img_proyecto img {
        width: 250px;
        height: 200px;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .cont_proyecto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    /* FORMACION */
    .formacion {
        align-items: flex-start;
        min-height: auto;
        padding: 30px 20px;
    }
    .formacion h1 {
        text-align: start;
    }
    .cont_formacion {
        width: 100%;
    }
    .cont_tecnologias {
        justify-content: flex-start;
        min-height: auto;
        padding: 30px 0;
    }
}
@media screen and (min-width: 800px) {
    /* PROYECTOS */
    .proyectos {
        align-items: center;
    }
    .proyectos h1 {
        width: 800px;
    }

    .formacion {
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }
    .formacion h1,
    .cont_tecnologias {
        width: 800px;
    }
    .separador {
        max-width: 840px;
    }
}
@media screen and (min-width: 1200px) {
    /* GLOBAL */
    body {
        position: relative;
    }
    .border_bottom {
        width: calc(100% - 250px);
    }
    main {
        display: flex;
    }
    #contenedor_padre {
        width: calc(100% - 250px);
    }
    /* HEADER */
    .header_oscuro {
        border-right: 1px solid rgba(250, 250, 250, 0.25);
        border-left: 1px solid rgba(250, 250, 250, 0.25);
    }
    .cont_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu_desktop_oscuro li a {
        border: none;
    }
    .menu_desktop {
        background: none;
        box-shadow: none;
        position: static;
        top: auto;
        left: auto;
        width: auto;
        transform: translate(0);
        visibility: visible;
        min-height: auto;
        margin: 0;
    }
    
    .menu_desktop ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .menu_desktop a {
        border: none;
        border-radius: none;
        width: auto;
        margin: 0 20px;
        padding: 0;
        font-size: 1.2em;
        font-weight: 500;
        transition: all .3s ease-in-out;
    }
    .menu_desktop a:hover {
        font-size: 1.24em;
        color: orangered;
    }
    .btn_menu {
        display: none;
    }

    .modo_oscuro {
        border-right: 1px solid rgba(250, 250, 250, 0.25);
    }
    /* MENU LATERAL */
    .menu_lateral {
        display: block;
        position: sticky;
        top: 80px;
        left: 0;
        z-index: 9998;
        width: 250px;
        height: calc(100vh - 80px);
        background-color: rgb(230, 230, 230);
        overflow-y: auto;
        border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
    .perfil_lateral {
        width: 100%;
        padding: 30px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfil_lateral img {
        width: 150px;
    }
    /* redes */
    .nombre_redes {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nombre {
        font-size: 1.5em;
        margin: 10px 0;
    }
    .redes_lateral {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 3px;
    }
    .redes_lateral i {
        font-size: 1.5em;
        margin: 0 10px;
    }
    /* datos */
    .datos_lateral {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 20px;
        margin-top: 25px;
    }
    .residencia,
    .email,
    .telefono {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    .residencia i,
    .email i,
    .telefono i {
        width: 30px;
        font-size: 1.2em;
    }
    /* tecnologias (menu) */
    .tec_lateral {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 20px;
        margin-top: 10px;
    }
    .tec_lateral p {
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 500;
    }
    .tecnologias_lateral img {
        width: 30px;
        margin-right: 5px;
    }
    /* DESCARGAR CV */
    .descargar_cv {
        width: 150px;
    }
    .descargar_cv a {
        width: 100%;
    }
    .btn_cv {
        width: 100%;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        margin-top: 25px;
        padding: 10px 20px;
        font-size: 1em;
        font-weight: bold;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .btn_cv:hover {
        color:orangered;
    }

    /* TECNOOLOGIAS */
    .cont_tecnologias {
        margin-bottom: 0;
    }
    .form_contacto {
        margin-bottom: 150px;
    }
    footer {
        width: calc(100% - 250px);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer_oscuro {
        border-right: 1px solid rgba(250, 250, 250, 0.25);
    }
}
@media screen and (min-width: 1600px){
    body {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-image: none;
        background-color: #E6E6E6;
    }
    main {
        background-image: url('/assets/imagenes/bg/bg_white.svg');
        border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
    /* PORTADA - PERFIL */
    #separador_perfil {
        display: none;
    }
    .contenedor_perfil {
        width: 95%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
    }
    .portada {
        width: 40%;
        height: 600px;
    }
    .perfil {
        width: 60%;
        height: 600px;
        min-height: auto;
        padding-left: 30px;
    }
    .foto_perfil img {
        width: 250px;
        margin-right: 100px;
    }
}
@media screen and (min-width: 2000px) {
    .contenedor_perfil {
        height: 720px;
    }
    header {
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
    header,
    .menu_lateral {
        border-left: 1px solid rgba(0, 0, 0, 0.25);
        padding-left: 10px;
    }
    .descargar_cv {
        margin-left: -10px;
    }
}