.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}
.acerca_de h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.acerca_de p {
    padding: 5px 10px;
}
.foto_perfil img {
    width: 200px;
    padding: 20px 0;
}