.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    border: 1px solid white;
}
.acerca_de h1 {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 10px;
}
.foto_perfil img {
    width: 150px;
    padding: 20px 0;
}