.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 50px 0 30px;
    position: relative;
}

.carta_proyecto {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.cont_proyecto {
    padding: 10px;
}
.cont_proyecto h2 {
    font-size: 1.25em;
    padding-bottom: 5px;
}
.img_proyecto img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.info_proyecto p {
    width: 100%;
    max-height: 100px;
    overflow: auto;
}

.tec_demo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tec {
    margin-top: 20px;
}
.tec img {
    width: 30px;
    margin-right: 5px;
}
.tec_demo a {
    margin: 0 5px 5px 0;
    color: orangered;
    font-weight: bold;
}