* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* WHITE */
    --color-white-main: rgba(255, 255, 255, 0.75)
    /* BLACK */
    --color-black-75: rgba(0, 0, 0, 0.75);
}
body {
    color: var(--color-black-75);
    font-family:'Segoe UI', 'sans-serif', 'Tahoma', 'Geneva', 'Verdana';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url('/assets/imagenes/bg/bg_white.svg');
    background-position: center;
}

a {
    text-decoration: none;
    color: var(--color-black-75);
}

li {
    list-style: none;
}

header {
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
.border_bottom {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9998;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
main {
    background-color: rgba(200, 200, 200, 0.25);
    width: 100%;
}
.menu_lateral {
    display: none;
}
#contenedor_padre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto; /*  -80px header + -20 padding */
    padding: 10px 15px;
}
#separador_perfil {
    width: 100%;
}
.separador {
    width: 75%;
    height: .5px;
    border: none;
    background-color: black;
    margin: 30px 0;
}
.cont_header {
     max-width: 1920px;
     width: 100%;
     height: 100%;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.cont_header img {
    width: 75px;
}
/* Botones */
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_color {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: none;
    background: none;
}
.btn_color i {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.75);
}

/* MENU */
/* boton */
.btn_menu  {
    width: 35px;
    height: 35px;
    border: none;
    background: none;
}
.btn_menu > div {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 5px;
    margin: 4px 0;
    border-radius: 5px;
}

.btn_menu_cerrar {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn_menu_cerrar div:first-child {
    transform: rotate(-45deg);
    position: absolute;
}
.btn_menu_cerrar div:nth-child(2) {
    visibility: hidden;
}
.btn_menu_cerrar div:nth-child(3) {
    transform: rotate(45deg);
    position: absolute;
}
/* menu mobile */
.menu_desktop {
    background: rgb(203,203,203);
    background: linear-gradient(0deg, rgba(203,203,203,1) 0%, rgba(249,249,249,1) 100%);
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 5000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    margin-left: -120%;
    transition: all .5s ease-in-out;
}
.menu_desktop ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    padding: 10px 10px 50px;
}
.menu_desktop a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 200px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
}


.menu_desplegar {
    visibility: visible;
    margin: 0;
}


/* LOS H1 DE CONTENEDORES */
.titulo_contenedor {
    font-size: 1.75em;
    width: 100%;
    text-align: center;
}